# macOS metadata
.DS_Store

# Python cache files
__pycache__/
*.py[cod]

# VSCode settings
.vscode/

# Temporary results
temp/

# Eval logs
eval_logs*

# Checkpoints
checkpoints_paper/ppo_*

# Simulation data (for now)
simulations/
ppo_*/

# Robustness analysis data
test/robustness/

# Ignore project presentation
docs/glucoRL_presentation.pdf