name: rl-proj
channels:
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - scipy
  - pip
  - pip:
      - torch
      - stable-baselines3==2.0.0
      - gymnasium>=0.28.1
      - gym==0.9.4